<h1 class="title is-2 is-danger">Lista monumenti nelle vicinanze</h1>
<% if @monument.any? %>
<table class="table">
  <thead>
    <th>Immagine</th>
    <th>Nome</th>
    <th>Link</th>
  </thead>
  <tbody>
      <% @monument.each do |monument| %>
      <tr>
        <td>
        <% if !monument.image.nil? %>
          <%= image_tag monument.image, width: 200  %>
        <% else %>
          Scattane una tu!
        <% end %>
        </td>
        <td>
        <%= monument.itemLabel %>
        </td>
        <td>
          <i class="fas fa-search"></i> <%= link_to 'Maggiori informazioni', monuments_path + '/' + monument.id.to_s, class: 'button is-small is-link' %>
        </td>
      <% end %>
    </tbody>
</table>
<% else %>
<h1 class="is-centered title is-3 is-red">Nessun monumento trovato nella località indicata</h1>
<% end %>
