<h1>Tool per visualizzare i monumenti partecipanti a <%= link_to 'Wiki Loves Monuments Italia', 'http://wikilovesmonuments.it' %></h1>
<ul>
<li><%= link_to 'Codice sorgente', 'https://github.com/ferdi2005/wikilovesmonuments' %></li>
<li>Dati importati da Wikidata - Licenza CC0 </li></ul>
