<%= provide(:title, 'About e privacy policy') %>
<h1>Tool per visualizzare i monumenti partecipanti a <%= link_to 'Wiki Loves Monuments Italia', 'http://wikilovesmonuments.it' %></h1>
<ul>
<li><%= link_to 'Codice sorgente', 'https://github.com/ferdi2005/wikilovesmonuments' %></li>
<li>Dati importati da Wikidata - Licenza CC0 </li></ul>
<li> <%= link_to 'Google Maps privacy policy', 'https://policies.google.com/privacy?hl=it' %></li>
<li>Query di Lorenzo Losa con miglioramenti di Stefano Sabatini</li>
<li>Favicon del sito è il <a href="https://commons.wikimedia.org/wiki/File:Wiki_Loves_Monuments_Logo_notext.svg">Logo ufficiale di WLM</a></li>
</ul>
