<%= provide(:title, 'Home') %>
<h1 class="is-danger is-2 title is-centered">Wiki Loves Monuments Italia</h1>
<h2 style="position:center;" class="is-link is-4 title is-centered">Ricerca monumenti</h1>
    <div class="buttons is-centered">
        <form method="get" action="/monuments" id="form-position">
            <input type="hidden" id="latitude" name="latitude" />
            <input type="hidden" id="longitude" name="longitude" />
        </form>
        <button id="click-submit-position" class="button is-primary is-large is-centered">Utilizza la mia posizione</button>
        <p id="geoerror" class="is-centered"></p>
    </div>
    <script>
        function geoloc() {
            if (navigator.geolocation) {
                var location_timeout = setTimeout(1000);

                navigator.geolocation.getCurrentPosition(function(position) {
                    clearTimeout(location_timeout);

                    var lat = position.coords.latitude;
                    var lng = position.coords.longitude;

                    $("#click-submit-position").click(function() {
                        $("#latitude").val(lat);
                        $("#longitude").val(lng);
                        $("#form-position").submit();
                    });

                }, function(error) {
                    clearTimeout(location_timeout);
                    $("#geoerror").append('Errore di geolocalizzazione! Molto probabilmente non avrai autorizzato la localizzazione dal tuo browser o il tuo browser non ha i permessi necessari. Scrivi il nome della città nel campo sotto.');
                    $("#click-submit-position").addClass('is-hidden');
                });
            } else {
                // Fallback for no geolocation
                $("#geoerror").append('Errore di geolocalizzazione! Molto probabilmente non avrai autorizzato la localizzazione dal tuo browser o il tuo browser non ha i permessi necessari (su iOS, vai in Impostazioni->Privacy e dai a Safari/il tuo broweser il permesso di utilizzare la posizione). Scrivi il nome della città nel campo sotto.');
                $("#click-submit-position").addClass('is-hidden');
            }

        }
        // Verifica dell'acquisizione del consenso
        var consenso;
        if (document.cookie.split(';').includes('consenso=yes') || document.cookie.split(';').includes(' consenso=yes')) {
            consenso = false;
        } else {
            consenso = true;
        }

        // Richiesta del consenso
        if (consenso) {
            Swal.fire({
                title: 'Trova i monumenti partecipanti a Wiki Loves Monunemtns vicino a te!',
                text: "Alla richiesta di utilizzo della geolocalizzazione che ti verrà presentata dopo, clicca su Ok o su Consenti per assicurarti di poter trovare con facilità i monumenti partecipanti vicino a te. Questo sito NON conserva la tua posizione, né la utilizza per altri scopi che non siano trovare i monumenti di Wiki Loves Monuments. Se accetti, ricorderemo la tua scelta.",
                type: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Certo, voglio trovare i monumenti vicino a me.',
                cancelButtonText: 'No, grazie.'
            }).then((result) => {
                if (result.value) {
                    // setta il consenso e geolocalizza
                    document.cookie = "consenso=yes";
                    geoloc();
                } else {
                    // Avvisa l'utente del mancato consenso
                    $("#geoerror").append('Non hai acconsentito alla geolocalizzazione.');
                    $("#click-submit-position").addClass('is-hidden');
                }
            })
        } else {
            // Se il consenso è stato già prestato, geolocalizza.
            geoloc();
        }
    </script>
    <div class="strike">
        <span>O</span>
    </div>
    <br />
    <script>
        function empty() {
            var x;
            x = document.getElementById("searchTextField").value;
            if (x == "") {
                alert("Inserisci il nome di una città prima di cercare.");
                return false;
            };
        }
    </script>
    <form method="get" action="/monuments">
        <div class="field has-addons is-centered">
            <div class="control">
                <input type="text" class="input" id="searchTextField" placeholder="Città" name="city"></input>
            </div>
            <div class="control">
                <button type="submit" class="button is-primary" placeholder="Cerca" id="click-form" onClick="return empty()">Cerca</button>
            </div>
        </div>
        <br />
    </form>
    <!-- <% maps_api_key = ENV['GOOGLE_MAPS_API_KEY'] %>
<script src='https://maps.googleapis.com/maps/api/js?key=<%= maps_api_key %>&libraries=places'></script>
<script>
  function initialize() {
    var options = {
      types: ['(cities)'],
      componentRestrictions: {
        country: "it"
      }
    };

    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
-->
    <!--
<%= link_to 'Mappa generale', map_path, class: 'button is-primary is-large' %>
-->
<a href='https://play.google.com/store/apps/details?id=it.wikimedia.wikilovesmonuments&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Disponibile su Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/it_badge_web_generic.png' /></a>